/* SERVICES_INTRO */
.services_intro {
  /* max-height: auto; */
  padding: 130px 0 50px;
  color: #354c5c;
}

.services_intro_inner {
}

.services_intro_inner_title {
  color: #354c5c;
  max-width: 400px;
}

.services_intro_inner_item {
  max-width: 1000px;
  margin: 0 auto;
}

.services_intro_inner_item > ul > li::before {
  color: #e27808;
  content: "■";
  margin-right: 7px;
}

/* SERVICES_TEXT */
.services_info {
  background-color: #354c5c;
  padding: 50px 0;
}

.info_item {
  margin-bottom: 50px;
  text-align: justify;
}

.services_info_inner_logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services_info_inner_logos_item {
  max-width: 23%;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  min-width: 350px;
  height: 350px;
  box-shadow: 0px 0px 30px #7396af;
  margin: 12px;
}

.services_info_inner_logos_item_img {
  width: 100%;
  height: 100%;
}

/* CHOISE */
.choise {
  padding: 50px 0;
  color: #354c5c;
}

.choise_inner {
}

.choise_inner_title {
  max-width: 800px;
}

.choise_inner_info_item:nth-child(2) {
  margin-bottom: 0;
}

/* GARANTY */
.garanty {
  padding: 50px 0;
  background-color: #354c5c;
}

.garanty_inner_title {
  max-width: 500px;
}

.garanty_inner_info {
  margin-bottom: 0;
}

/* DIFFERENT */
.different {
  padding: 50px 0;
  color: #354c5c;
}

.different_inner_title {
  max-width: 700px;
}

.different_inner_item {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.different_inner_item > ul > li:before {
  color: #e27808;
  content: "■";
  margin-right: 7px;
}

.different_inner_info {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  /* SERVICES */
  .services_intro {
    padding-top: 110px;
  }

  .services_intro_inner_item {
    font-size: 23px;
  }

  .different_inner {
    font-size: 20px;
  }

  .different_inner_item {
    max-width: 550px;
  }
}

@media (max-width: 768px) {
  /* SERVICES */
  .services_info_inner_logos {
    display: block;
  }

  .services_info_inner_logos_item {
    margin: 0 auto;
    margin-bottom: 15px;
    min-width: 250px;
    height: 250px;
  }

  .services_info_inner_logos_item:last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 425px) {
  /* SERVICES */
  .info_item {
    text-align: left;
  }
}
